.company-item{
    margin-top: 15px;
    background-color: rgb(243, 241, 241);
    border-radius: 5px;
    display:grid;
    height: 300px;
}

.to-map {
    width:800px;
}

.logo {
    background-color: rgb(218, 214, 214);
    border-radius: 2px;
}
