<!-- <div *ngIf="company">
<h3>
    <a>
    {{ company.business_name }}
    </a>
</h3>
<Img src='{{ company.logo }}' width='400px'>
</div> -->

<div class='company-item' *ngIf='company'>
    <Img class='logo' src='{{ company.logo }}' width='300px' height='150px'>
    <div>Название: {{ company.suffix }} "{{ company.business_name }}"</div>
    <div>Вид деятельности: {{ company.industry }}</div>
    <div>Тип: {{ company.type }}</div>
    <div class='to-map'> <a routerLink="/map">Местоположение: {{ company.full_address }}</a></div>
    <div routerLink="/company/{{ company.id }}" class="button">Узнать больше</div>
</div>