<h2>List of companies:</h2>
  <mat-list-item class='company-list' *ngFor="let company of companies | async">
    <app-company-item [company]="company"></app-company-item>
  </mat-list-item>

<!-- <div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>
</div> -->